In [6]:
import pandas as pd
import numpy as np
heart_failure=pd.read_csv('C:/Users/admin/OneDrive/Documents/Desktop/heart_failure dataset.csv')
print(heart_failure)

     Unnamed: 0  Unnamed: 0.1   age anaemia  creatinine_phosphokinase  \
0             0             0  75.0      No                       582
1             1             1  55.0      No                      7861
2             2             2  65.0      No                       146
3             3             3  50.0     Yes                       111
4             4             4  65.0     Yes                       160
..          ...           ...   ...     ...                       ...
294         294           294  62.0      No                        61
295         295           295  55.0      No                      1820
296         296           296  45.0      No                      2060
297         297           297  45.0      No                      2413
298         298           298  50.0      No                       196

    diabetes  ejection_fraction high_blood_pressure  platelets  \
0         No                 20                 Yes  265000.00
1         No                 38                  No  263358.03
2         No                 20                  No  162000.00
3         No                 20                  No  210000.00
4        Yes                 20                  No  327000.00
..       ...                ...                 ...        ...
294      Yes                 38                 Yes  155000.00
295       No                 38                  No  270000.00
296      Yes                 60                  No  742000.00
297       No                 38                  No  140000.00
298       No                 45                  No  395000.00

     serum_creatinine  serum_sodium     sex smoking  time  DEATH_EVENT
0                 1.9           130    Male      No     4            1
1                 1.1           136    Male      No     6            1
2                 1.3           129    Male     Yes     7            1
3                 1.9           137    Male      No     7            1
4                 2.7           116  Female      No     8            1
..                ...           ...     ...     ...   ...          ...
294               1.1           143    Male     Yes   270            0
295               1.2           139  Female      No   271            0
296               0.8           138  Female      No   278            0
297               1.4           140    Male     Yes   280            0
298               1.6           136    Male     Yes   285            0

[299 rows x 15 columns]

In [9]:
heart_failure.sum()

Unnamed: 0                                                              44551
Unnamed: 0.1                                                            44551
age                                                                 18189.334
anaemia                     NoNoNoYesYesYesYesYesNoYesYesNoYesYesYesYesYes...
creatinine_phosphokinase                                               173970
diabetes                    NoNoNoNoYesNoNoYesNoNoNoNoNoNoNoNoNoNoNoYesNoY...
ejection_fraction                                                       11387
high_blood_pressure         YesNoNoNoNoYesNoNoNoYesYesYesNoYesYesNoNoNoYes...
platelets                                                         78744050.75
serum_creatinine                                                       416.77
serum_sodium                                                            40851
sex                         MaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMa...
smoking                     NoNoYesNoNoYesNoYesNoYesYesYesNoNoNoNoNoNoNoNo...
time                                                                    38948
DEATH_EVENT                                                                96
dtype: object

In [10]:
heart_failure.mean()

Unnamed: 0                     149.000000
Unnamed: 0.1                   149.000000
age                             60.833893
creatinine_phosphokinase       581.839465
ejection_fraction               38.083612
platelets                   263358.029264
serum_creatinine                 1.393880
serum_sodium                   136.625418
time                           130.260870
DEATH_EVENT                      0.321070
dtype: float64

In [13]:
heart_failure.describe()

,Unnamed: 0,Unnamed: 0.1,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000
mean,149.000000,149.000000,60.833893,581.839465,38.083612,263358.029264,1.39388,136.625418,130.260870,0.32107
std,86.458082,86.458082,11.894809,970.287881,11.834841,97804.236869,1.03451,4.412477,77.614208,0.46767
min,0.000000,0.000000,40.000000,23.000000,14.000000,25100.000000,0.50000,113.000000,4.000000,0.00000
25%,74.500000,74.500000,51.000000,116.500000,30.000000,212500.000000,0.90000,134.000000,73.000000,0.00000
50%,149.000000,149.000000,60.000000,250.000000,38.000000,262000.000000,1.10000,137.000000,115.000000,0.00000
75%,223.500000,223.500000,70.000000,582.000000,45.000000,303500.000000,1.40000,140.000000,203.000000,1.00000
max,298.000000,298.000000,95.000000,7861.000000,80.000000,850000.000000,9.40000,148.000000,285.000000,1.00000

In [14]:
heart_failure.count()

Unnamed: 0                  299
Unnamed: 0.1                299
age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [16]:
heart_failure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                299 non-null    int64
 1   Unnamed: 0.1              299 non-null    int64
 2   age                       299 non-null    float64
 3   anaemia                   299 non-null    object
 4   creatinine_phosphokinase  299 non-null    int64
 5   diabetes                  299 non-null    object
 6   ejection_fraction         299 non-null    int64
 7   high_blood_pressure       299 non-null    object
 8   platelets                 299 non-null    float64
 9   serum_creatinine          299 non-null    float64
 10  serum_sodium              299 non-null    int64
 11  sex                       299 non-null    object
 12  smoking                   299 non-null    object
 13  time                      299 non-null    int64
 14  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(7), object(5)
memory usage: 35.2+ KB

In [18]:
heart_failure.head(5)

,Unnamed: 0,Unnamed: 0.1,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,0,0,75.0,No,582,No,20,Yes,265000.00,1.9,130,Male,No,4,1
1,1,1,55.0,No,7861,No,38,No,263358.03,1.1,136,Male,No,6,1
2,2,2,65.0,No,146,No,20,No,162000.00,1.3,129,Male,Yes,7,1
3,3,3,50.0,Yes,111,No,20,No,210000.00,1.9,137,Male,No,7,1
4,4,4,65.0,Yes,160,Yes,20,No,327000.00,2.7,116,Female,No,8,1

In [19]:
heart_failure.tail(5)

,Unnamed: 0,Unnamed: 0.1,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,294,294,62.0,No,61,Yes,38,Yes,155000.0,1.1,143,Male,Yes,270,0
295,295,295,55.0,No,1820,No,38,No,270000.0,1.2,139,Female,No,271,0
296,296,296,45.0,No,2060,Yes,60,No,742000.0,0.8,138,Female,No,278,0
297,297,297,45.0,No,2413,No,38,No,140000.0,1.4,140,Male,Yes,280,0
298,298,298,50.0,No,196,No,45,No,395000.0,1.6,136,Male,Yes,285,0

In [20]:
heart_failure.mean()

Unnamed: 0                     149.000000
Unnamed: 0.1                   149.000000
age                             60.833893
creatinine_phosphokinase       581.839465
ejection_fraction               38.083612
platelets                   263358.029264
serum_creatinine                 1.393880
serum_sodium                   136.625418
time                           130.260870
DEATH_EVENT                      0.321070
dtype: float64

In [21]:
heart_failure.median()

Unnamed: 0                     149.0
Unnamed: 0.1                   149.0
age                             60.0
creatinine_phosphokinase       250.0
ejection_fraction               38.0
platelets                   262000.0
serum_creatinine                 1.1
serum_sodium                   137.0
time                           115.0
DEATH_EVENT                      0.0
dtype: float64

In [22]:
heart_failure.min()

Unnamed: 0                        0
Unnamed: 0.1                      0
age                            40.0
anaemia                          No
creatinine_phosphokinase         23
diabetes                         No
ejection_fraction                14
high_blood_pressure              No
platelets                   25100.0
serum_creatinine                0.5
serum_sodium                    113
sex                          Female
smoking                          No
time                              4
DEATH_EVENT                       0
dtype: object

In [23]:
heart_failure.max()

Unnamed: 0                       298
Unnamed: 0.1                     298
age                             95.0
anaemia                          Yes
creatinine_phosphokinase        7861
diabetes                         Yes
ejection_fraction                 80
high_blood_pressure              Yes
platelets                   850000.0
serum_creatinine                 9.4
serum_sodium                     148
sex                             Male
smoking                          Yes
time                             285
DEATH_EVENT                        1
dtype: object

In [24]:
heart_failure.std()

Unnamed: 0                     86.458082
Unnamed: 0.1                   86.458082
age                            11.894809
creatinine_phosphokinase      970.287881
ejection_fraction              11.834841
platelets                   97804.236869
serum_creatinine                1.034510
serum_sodium                    4.412477
time                           77.614208
DEATH_EVENT                     0.467670
dtype: float64

In [25]:
heart_failure.var()

Unnamed: 0                  7.475000e+03
Unnamed: 0.1                7.475000e+03
age                         1.414865e+02
creatinine_phosphokinase    9.414586e+05
ejection_fraction           1.400635e+02
platelets                   9.565669e+09
serum_creatinine            1.070211e+00
serum_sodium                1.946996e+01
time                        6.023965e+03
DEATH_EVENT                 2.187156e-01
dtype: float64

In [26]:
heart_failure.mad()

Unnamed: 0                     74.749164
Unnamed: 0.1                   74.749164
age                             9.527923
creatinine_phosphokinase      513.142605
ejection_fraction               8.951287
platelets                   66909.447618
serum_creatinine                0.574821
serum_sodium                    3.210255
time                           68.115748
DEATH_EVENT                     0.435968
dtype: float64

In [28]:
heart_failure.sum()

Unnamed: 0                                                              44551
Unnamed: 0.1                                                            44551
age                                                                 18189.334
anaemia                     NoNoNoYesYesYesYesYesNoYesYesNoYesYesYesYesYes...
creatinine_phosphokinase                                               173970
diabetes                    NoNoNoNoYesNoNoYesNoNoNoNoNoNoNoNoNoNoNoYesNoY...
ejection_fraction                                                       11387
high_blood_pressure         YesNoNoNoNoYesNoNoNoYesYesYesNoYesYesNoNoNoYes...
platelets                                                         78744050.75
serum_creatinine                                                       416.77
serum_sodium                                                            40851
sex                         MaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMa...
smoking                     NoNoYesNoNoYesNoYesNoYesYesYesNoNoNoNoNoNoNoNo...
time                                                                    38948
DEATH_EVENT                                                                96
dtype: object

In [29]:
heart_failure.prod()

Unnamed: 0                  0.000000e+00
Unnamed: 0.1                0.000000e+00
age                                  inf
creatinine_phosphokinase    0.000000e+00
ejection_fraction           0.000000e+00
platelets                            inf
serum_creatinine            6.127969e+25
serum_sodium                0.000000e+00
time                        0.000000e+00
DEATH_EVENT                 0.000000e+00
dtype: float64

In [30]:
heart_failure['age'].value_counts()

60.000    33
50.000    27
65.000    26
70.000    25
45.000    19
55.000    17
75.000    11
58.000    10
53.000    10
63.000     8
42.000     7
72.000     7
40.000     7
80.000     7
85.000     6
62.000     5
52.000     5
68.000     5
61.000     4
73.000     4
59.000     4
49.000     4
51.000     4
82.000     3
69.000     3
90.000     3
46.000     3
64.000     3
48.000     2
66.000     2
54.000     2
95.000     2
77.000     2
57.000     2
78.000     2
60.667     2
44.000     2
67.000     2
41.000     1
79.000     1
81.000     1
86.000     1
43.000     1
47.000     1
87.000     1
56.000     1
94.000     1
Name: age, dtype: int64

In [35]:
heart_failure.groupby('age')

In [37]:
heart_failure['smoking'].value_counts()

No     203
Yes     96
Name: smoking, dtype: int64

In [41]:
heart_failure['age'].sum()

18189.334

In [42]:
heart_failure['age'].mean()

60.83389297658862

In [43]:
heart_failure.dropna().describe()

,Unnamed: 0,Unnamed: 0.1,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000
mean,149.000000,149.000000,60.833893,581.839465,38.083612,263358.029264,1.39388,136.625418,130.260870,0.32107
std,86.458082,86.458082,11.894809,970.287881,11.834841,97804.236869,1.03451,4.412477,77.614208,0.46767
min,0.000000,0.000000,40.000000,23.000000,14.000000,25100.000000,0.50000,113.000000,4.000000,0.00000
25%,74.500000,74.500000,51.000000,116.500000,30.000000,212500.000000,0.90000,134.000000,73.000000,0.00000
50%,149.000000,149.000000,60.000000,250.000000,38.000000,262000.000000,1.10000,137.000000,115.000000,0.00000
75%,223.500000,223.500000,70.000000,582.000000,45.000000,303500.000000,1.40000,140.000000,203.000000,1.00000
max,298.000000,298.000000,95.000000,7861.000000,80.000000,850000.000000,9.40000,148.000000,285.000000,1.00000